html,body{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.8em;
    font-weight: 400px;
    color: #666;
}



.pimg1{
    background-image: url('image1.png');
    min-height: 100%;
    
}

.pimg2{
    background-image: url('image2.png');
    height: 400px;
}
.pimg3{
    background-image: url('image3.png');
    height: 400px;
}

.pimg1, .pimg2, .pimg3{

    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

.ptext{

    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: black;
    letter-spacing: 11px;
    text-transform: uppercase;
   
}

.textbg{
    background-color: #313534;
    color: white;
    padding: 18px;
    border-radius: 7px;
   
}

.section{
    text-align: center;
    padding: 10px 80px;
}

.section-light{
    background-color: #f4f4f4;
    color: #666;
}

.section-dark{
    background-color: #282e34;
    color: #ddd;
}



